<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <script src="./vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="./vendor/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <link  type="text/css" rel="stylesheet" href="./vendor/bootstrap/3.3.5/css/bootstrap.min.css" />
</head>
<body>
<span th:text="'' + ${message == null ? '' : message} + ''"></span>
<form class="form-inline" action="/login" method="post">
    <div class="form-group">
        <label class="sr-only" for="email">Email address</label>
        <input type="email" name="email" id="email" class="form-control"  placeholder="Email">
    </div>
    <div class="form-group">
        <label class="sr-only" for="pswd">Password</label>
        <input type="password" class="form-control" name="pswd" id="pswd" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="sr-only" for="gifCode">Code</label>
        <input type="text" class="form-control" name="gifCode" id="gifCode" placeholder="Code">
        <img alt="验证码" src="/vcode/gif">
    </div>
    <div class="checkbox">
        <label>
            <input type="checkbox" name="rememberMe"/>Remember me
        </label>
    </div>
    <button type="submit" class="btn btn-default">Sign in</button>
</form>
</body>
</html>